{% extends "layouts/main.html" %}

{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-sm-12">
      <h2>Invitar proveedor</h2>
      <ol class="breadcrumb">
         <li>
            <a ui-sref="app.home">Inicio</a>
         </li>
         <li>
            <a href="/admin/suppliers">Proveedores</a>
         </li>
         <li class="active">
            <strong>Invitar</strong>
         </li>
      </ol>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <div class="wrapper wrapper-content">
         <div class="jumbotron" style="text-align: center">
            <h1><i class="fa fa-check-circle-o fa-2x"></i></h1>
            <h1>Invitación enviada</h1>
            <p>La invitación a sido enviada con exito y se le notificara cuando el proveedor envie su respuesta.</p>
            <p><a role="button" class="btn btn-primary btn-lg" href="/admin/suppliers">Continuar</a>
            </p>
         </div>
      </div>
   </div>
</div>
{% endblock %}
