<div class="row border-bottom">
   <nav class="top-navigation navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <i class="fa fa-reorder"></i>
          </button>
          <a href="#" class="navbar-brand">Global Supplier Operating System</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-top-links navbar-right">
              <li>
                  <a href="/logout">
                      <i class="fa fa-sign-out"></i> Cerrar Sesión
                  </a>
              </li>
          </ul>
      </div>
   </nav>
</div>
